<style>
  .right_btn {
    color: #fff;
    text-decoration: none;
    margin-right: 24px;
    font-size: 16px;
  }
</style>
<nav
  style="
    width: 100%;
    background: #007bff;
    padding: 12px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  "
>
  <div
    style="
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div
      style="
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 2px;
      "
    >
      AKH Web
    </div>
    <div>
      <a href="/chat" class="right_btn">Chat</a>
      <a href="/aboutus" class="right_btn">About Us</a>
    </div>
  </div>
</nav>
